.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.title {
  font-size: 4rem;
}

.letters-to-guess {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.status {
  font-size: 2rem;
}
